
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="panel panel-default">
    <div class="panel-heading">Static Log Helper</div>
    <div class="panel-body">
        <div>
            This calls a static helper, that does all the logging
        </div>
        @Html.ActionLink("Static Log Helper ", "StaticLogHelperAction", new { orderId = "abc 123" }, new { @class = "btn btn-primary btn-large" })
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Instance Log Helper</div>
    <div class="panel-body">
        <div>
            This calls a Instance helper, that does all the logging
        </div>
        @Html.ActionLink("Instance Log Helper ", "InstanceLogHelperAction", new { orderId = "abc 123" }, new { @class = "btn btn-primary btn-large" })
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Exiting Logging</div>
    <div class="panel-body">
        <div>
            Give a demo of the exiting logging
        </div>
        @Html.ActionLink("Exiting Log", "ExitingLogHelperAction", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Handled Exception Logging</div>
    <div class="panel-body">
        <div>
            Give a demo of Handled Exception Logging
        </div>
        @Html.ActionLink("Handled Exception Log", "HandledExceptionLoggingAction", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>